build/
dist/
*.spec
*.dll
*.exe
build/__main__/__main__.exe.manifest
build/__main__/__main__.pkg
build/__main__/Analysis-00.toc
build/__main__/base_library.zip
build/__main__/COLLECT-00.toc
build/__main__/EXE-00.toc
build/__main__/localpycs/pyimod01_archive.pyc
build/__main__/localpycs/pyimod02_importers.pyc
build/__main__/localpycs/pyimod03_ctypes.pyc
build/__main__/localpycs/pyimod04_pywin32.pyc
build/__main__/localpycs/struct.pyc
build/__main__/PKG-00.toc
build/__main__/PYZ-00.pyz
build/__main__/PYZ-00.toc
build/__main__/warn-__main__.txt
build/__main__/xref-__main__.html
dist/__main__/__main__.exe
dist/__main__/_asyncio.pyd
dist/__main__/_bz2.pyd
dist/__main__/_ctypes.pyd
dist/__main__/_decimal.pyd
dist/__main__/_hashlib.pyd
dist/__main__/_lzma.pyd
dist/__main__/_multiprocessing.pyd
dist/__main__/_overlapped.pyd
dist/__main__/_queue.pyd
dist/__main__/_socket.pyd
dist/__main__/_ssl.pyd
dist/__main__/api-ms-win-core-console-l1-1-0.dll
dist/__main__/api-ms-win-core-datetime-l1-1-0.dll
dist/__main__/api-ms-win-core-debug-l1-1-0.dll
dist/__main__/api-ms-win-core-errorhandling-l1-1-0.dll
dist/__main__/api-ms-win-core-file-l1-1-0.dll
dist/__main__/api-ms-win-core-file-l1-2-0.dll
dist/__main__/api-ms-win-core-file-l2-1-0.dll
dist/__main__/api-ms-win-core-handle-l1-1-0.dll
dist/__main__/api-ms-win-core-heap-l1-1-0.dll
dist/__main__/api-ms-win-core-interlocked-l1-1-0.dll
dist/__main__/api-ms-win-core-libraryloader-l1-1-0.dll
dist/__main__/api-ms-win-core-localization-l1-2-0.dll
dist/__main__/api-ms-win-core-memory-l1-1-0.dll
dist/__main__/api-ms-win-core-namedpipe-l1-1-0.dll
dist/__main__/api-ms-win-core-processenvironment-l1-1-0.dll
dist/__main__/api-ms-win-core-processthreads-l1-1-0.dll
dist/__main__/api-ms-win-core-processthreads-l1-1-1.dll
dist/__main__/api-ms-win-core-profile-l1-1-0.dll
dist/__main__/api-ms-win-core-rtlsupport-l1-1-0.dll
dist/__main__/api-ms-win-core-string-l1-1-0.dll
dist/__main__/api-ms-win-core-synch-l1-1-0.dll
dist/__main__/api-ms-win-core-synch-l1-2-0.dll
dist/__main__/api-ms-win-core-sysinfo-l1-1-0.dll
dist/__main__/api-ms-win-core-timezone-l1-1-0.dll
dist/__main__/api-ms-win-core-util-l1-1-0.dll
dist/__main__/api-ms-win-crt-conio-l1-1-0.dll
dist/__main__/api-ms-win-crt-convert-l1-1-0.dll
dist/__main__/api-ms-win-crt-environment-l1-1-0.dll
dist/__main__/api-ms-win-crt-filesystem-l1-1-0.dll
dist/__main__/api-ms-win-crt-heap-l1-1-0.dll
dist/__main__/api-ms-win-crt-locale-l1-1-0.dll
dist/__main__/api-ms-win-crt-math-l1-1-0.dll
dist/__main__/api-ms-win-crt-private-l1-1-0.dll
dist/__main__/api-ms-win-crt-process-l1-1-0.dll
dist/__main__/api-ms-win-crt-runtime-l1-1-0.dll
dist/__main__/api-ms-win-crt-stdio-l1-1-0.dll
dist/__main__/api-ms-win-crt-string-l1-1-0.dll
dist/__main__/api-ms-win-crt-time-l1-1-0.dll
dist/__main__/api-ms-win-crt-utility-l1-1-0.dll
dist/__main__/base_library.zip
dist/__main__/freetype.dll
dist/__main__/libcrypto-1_1.dll
dist/__main__/libffi-8.dll
dist/__main__/libjpeg-9.dll
dist/__main__/libmodplug-1.dll
dist/__main__/libogg-0.dll
dist/__main__/libopenblas64__v0.3.21-gcc_10_3_0.dll
dist/__main__/libopus-0.dll
dist/__main__/libopusfile-0.dll
dist/__main__/libpng16-16.dll
dist/__main__/libssl-1_1.dll
dist/__main__/libtiff-5.dll
dist/__main__/libwebp-7.dll
dist/__main__/numpy/core/_multiarray_tests.cp311-win_amd64.pyd
dist/__main__/numpy/core/_multiarray_umath.cp311-win_amd64.pyd
dist/__main__/numpy/fft/_pocketfft_internal.cp311-win_amd64.pyd
dist/__main__/numpy/linalg/_umath_linalg.cp311-win_amd64.pyd
dist/__main__/numpy/linalg/lapack_lite.cp311-win_amd64.pyd
dist/__main__/numpy/random/_bounded_integers.cp311-win_amd64.pyd
dist/__main__/numpy/random/_common.cp311-win_amd64.pyd
dist/__main__/numpy/random/_generator.cp311-win_amd64.pyd
dist/__main__/numpy/random/_mt19937.cp311-win_amd64.pyd
dist/__main__/numpy/random/_pcg64.cp311-win_amd64.pyd
dist/__main__/numpy/random/_philox.cp311-win_amd64.pyd
dist/__main__/numpy/random/_sfc64.cp311-win_amd64.pyd
dist/__main__/numpy/random/bit_generator.cp311-win_amd64.pyd
dist/__main__/numpy/random/mtrand.cp311-win_amd64.pyd
dist/__main__/portmidi.dll
dist/__main__/pyexpat.pyd
dist/__main__/pygame/_freetype.cp311-win_amd64.pyd
dist/__main__/pygame/base.cp311-win_amd64.pyd
dist/__main__/pygame/bufferproxy.cp311-win_amd64.pyd
dist/__main__/pygame/color.cp311-win_amd64.pyd
dist/__main__/pygame/constants.cp311-win_amd64.pyd
dist/__main__/pygame/display.cp311-win_amd64.pyd
dist/__main__/pygame/draw.cp311-win_amd64.pyd
dist/__main__/pygame/event.cp311-win_amd64.pyd
dist/__main__/pygame/font.cp311-win_amd64.pyd
dist/__main__/pygame/freesansbold.ttf
dist/__main__/pygame/image.cp311-win_amd64.pyd
dist/__main__/pygame/imageext.cp311-win_amd64.pyd
dist/__main__/pygame/joystick.cp311-win_amd64.pyd
dist/__main__/pygame/key.cp311-win_amd64.pyd
dist/__main__/pygame/libjpeg-9.dll
dist/__main__/pygame/mask.cp311-win_amd64.pyd
dist/__main__/pygame/math.cp311-win_amd64.pyd
dist/__main__/pygame/mixer.cp311-win_amd64.pyd
dist/__main__/pygame/mixer_music.cp311-win_amd64.pyd
dist/__main__/pygame/mouse.cp311-win_amd64.pyd
dist/__main__/pygame/pixelarray.cp311-win_amd64.pyd
dist/__main__/pygame/pixelcopy.cp311-win_amd64.pyd
dist/__main__/pygame/pygame_icon.bmp
dist/__main__/pygame/rect.cp311-win_amd64.pyd
dist/__main__/pygame/rwobject.cp311-win_amd64.pyd
dist/__main__/pygame/scrap.cp311-win_amd64.pyd
dist/__main__/pygame/SDL2.dll
dist/__main__/pygame/surface.cp311-win_amd64.pyd
dist/__main__/pygame/surflock.cp311-win_amd64.pyd
dist/__main__/pygame/time.cp311-win_amd64.pyd
dist/__main__/pygame/transform.cp311-win_amd64.pyd
dist/__main__/python311.dll
dist/__main__/SDL2.dll
dist/__main__/SDL2_image.dll
dist/__main__/SDL2_mixer.dll
dist/__main__/SDL2_ttf.dll
dist/__main__/select.pyd
dist/__main__/ucrtbase.dll
dist/__main__/unicodedata.pyd
dist/__main__/VCRUNTIME140.dll
dist/__main__/zlib1.dll
